@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');

:root {

    --colorhover: rgb(0, 255, 170);
    --colorLetrasTrabajoEstudy: rgb(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;


}

.body {
    background: rgb(13, 9, 78);
    overflow-x: hidden;

}

/* opción copiar */
*::selection {

    background-color: rgba(0, 0, 0, .8);

    color: turquoise;

}

/* scroll */
::-webkit-scrollbar {
    background-color: rgba(58, 51, 51, 0);
    width: 12px;

}

::-webkit-scrollbar-thumb {
    background-color: turquoise;
    border-radius: 20px;
    border: 2px solid rgb(0, 0, 0);
}

/* navbar */
#navbar {
    position: fixed;
    top: 0;
    background-color: rgb(13, 9, 78);
    width: 100%;
    height: 75px;
    z-index: 10000;
}


/* logo nav */
.container-fluid a img {
    user-select: none;
    width: 9em;

}


.nav-item {

    display: flex;
    margin: auto;

}

.nav-item a {
    color: aliceblue !important;
}

/* hover de las redes sociales */
#instagram:hover {
    background: linear-gradient(198deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
    border-radius: 30%;
    color: black;
}

/* nav lateral */

.contenedor-navLateral {
    width: 50px;
    height: 85vh;
    position: fixed;
    z-index: 100;
    left: 5px;
    top: 80px;

}

.navLateral {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

.navLateral a {
    color: aliceblue;
}

.navLateral a :hover {
    color: var(--colorhover);
}

/* baner de fondo */
.baner {
    width: 90vw;
    height: 90vh;
    margin: 100px auto auto auto;

}

.imagen-baner {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(imagenes/baner.jpg);
    background-size: cover;
    z-index: -1;
    user-select: none;
}

.contenedor-imagen,
.contenedor-hechizos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;

}

.imagen {
    position: relative;
    width: 80vw;
    height: 100vh;
    margin: auto auto 0 auto;

}

.man {
    width: auto;
    margin: auto auto auto 60%;
    height: 80%;

}



.hechizos {
    position: relative;
    width: 85vw;
    height: 80vh;
    margin: auto auto auto 23%;
    display: flex;


}

.hechizo1 {
    width: 340px;
    height: 340px;
    margin: auto auto 15px auto;
    opacity: .9;

}

.hechizo2 {
    width: 210px;
    height: 210px;
    margin: auto auto 75px auto;
    opacity: .9;

}

.hechizo1 {
    animation: turn1 100s linear infinite;
}

.hechizo2 {
    animation: turn2 100s linear infinite;
}

@keyframes turn1 {
    to {
        transform: rotate(1turn);
    }
}

@keyframes turn2 {
    to {
        transform: rotate(-1turn);
    }
}

/* parrafo baner */

.contenedor-parrafo {

    position: absolute;
    top: 180px;
    left: 1%;
    width: 50%;
    height: 70%;
    color: aliceblue;
    display: flex;

}

.parrafo {
    display: flex;
    margin-left: 1.8em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}
.parrafo p{
    text-align: center;
}

.hi {
    letter-spacing: .5em;
}

/* animacion profesional/programador/desarrollador/ */


.contienetodo {

    height: 35px;
    width: auto;
    overflow: hidden;

    margin-bottom: 50px;
}

.contienemeno {
    animation: mueverico 20s linear infinite;

}


@keyframes mueverico {
    0% {
        transform: translateY(0);
    }

    5% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-50px);
    }

    30% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-90px);
    }

    55% {
        transform: translateY(-90px);
    }

    75% {
        transform: translateY(-140px);
    }

    80% {
        transform: translateY(-140px);
    }

    100% {
        transform: translateY(-0px);
    }
}

/* botom descargar cv */
.parrafo .buttom {
    background: turquoise;
    color: rgb(24, 30, 36);
    display: inline-block;
    font-size: .7em;
    padding: .8rem 1.8rem;
    border-radius: 3rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.527);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 25px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(.99);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, .1);
    }
}

/*  acerca de  parrafo*/
.contenedorAcercaDE {

    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)), url(imagenes/fondo.jpg);
    background-size: cover;
    background-position: left;
    color: aliceblue;
    width: 90vw;
    height: 110vh;
    margin: auto;

}

.col-2 img {
    margin-top: 80px;
    width: 140px;
    user-select: none;
    background-position: center bottom;

    border-radius: 50%;

}

.col-10 {
    padding-top: 140px;
    line-height: 1.7em;
}

/* experiencias laborales */
.contenedor-experiencias {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.0)), url(imagenes/sinuso.jpg);
    background-size: cover;
    background-position: left;
    color: aliceblue;
    width: 90vw;
    height: 100vh;
    margin: auto;
    padding-top: 70px;
}

.experiencias {
    display: flex;
    flex-direction: column;
}

.experiencias h2 {

    margin: auto;

}

.experiencias1,
.experiencias2 {
    display: flex;
    padding: 50px;

}

.experiencias1 img,
.experiencias2 img {
    height: 90px;

}

.experienciasP,
.experienciasP2 {
    margin-left: 20px;
    margin-right: 40px;
}

.titu-fecha,
.titu-fecha2 {
    display: flex;
    justify-content: space-between;
}

/* estudios */
.contenedor-estudios {
    background-image: linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.699), rgba(0, 0, 0, 0.603)), url(imagenes/fondo-habilidades2.jpg);
    background-size: cover;
    background-position: left;
    color: aliceblue;
    width: 90vw;
    height: 115vh;
    margin: auto;
    padding-top: 70px;
}

.estudios {
    display: flex;
    flex-direction: column;
}

.estudios h2 {

    margin: auto;

}

.estudios1,
.estudios2,
.estudios3 {
    display: flex;
    padding: 50px;

}

.estudios2 {
    position: relative;
    top: -50px;
}

.estudios3 {
    position: relative;
    top: -90px;
}

.estudios1 img,
.estudios2 img,
.estudios3 img {
    height: 120px;
    border-radius: 5%;
}

.estudios2 img {
    height: 140px;

}

.estudiosP,
.estudiosP2 {

    margin-left: 20px;
    margin-right: 40px;
}

.titu-fechaEstudios,
.titu-fechaEstudios2 {
    width: 67vw;
    display: flex;
    justify-content: space-between;

}

/* soft skills */
.skills-soft {

    background-image: radial-gradient(circle, #0031b8, #0300caad, #00015093, #030099, #020060c2, #020065a9, #010db8b6, #0c016f8e, rgb(13, 9, 78), rgb(13, 9, 78), rgb(13, 9, 78), rgb(13, 9, 78));
    height: 100vh;
    color: var(--colorLetrasTrabajoEstudy);
    padding-top: 70px;
}

.titulo-soft {
    font-size: 3em;
    margin-bottom: 5%;

}

.filauno,
.filados {
    font-size: 1.5em;
    color: var(--colorLetrasTrabajoEstudy);

}

/* hard skills */
.skills-hard {
    position: relative;
    z-index: -2;
    background-image: radial-gradient(circle, #0031b8, #0300caad, #00015093, #030099, #020060c2, #020065a9, #010db8b6, #0c016f8e, rgb(13, 9, 78), rgb(13, 9, 78), rgb(13, 9, 78), rgb(13, 9, 78));
    height: 120vh;
    color: var(--colorLetrasTrabajoEstudy);
    padding-top: 70px;

}

.filahard {
    position: relative;
    top: -100px;
}

.html {
    position: relative;
    top: -180px;
    left: 93px;
    width: 74px;
    height: 170px;
    z-index: -1;
    border-radius: 50px;

    background: orangered;
    animation: animate 2s ease-in-out infinite;
}

.conteneHtml p {
    position: relative;

    top: -140px;
}

.contenecss img {

    width: 130px;
}

.css {
    position: relative;
    top: -190px;
    left: 93px;
    width: 75px;
    height: 170px;
    z-index: -1;
    border-radius: 30px;

    background: rgb(0, 89, 255);
    animation: animate 2s ease-in-out infinite;
}

.contenecss p {
    position: relative;

    top: -170px;
}



.sprin {
    position: relative;
    top: -160px;
    left: 85px;
    width: 90px;
    height: 140px;
    z-index: -1;
    border-radius: 50px;

    background: rgb(0, 167, 22);
    animation: animate 2s ease-in-out infinite;
}

.contenesprin p {
    position: relative;

    top: -135px;
}

.js {
    position: relative;
    top: -170px;
    left: 89px;
    width: 83px;
    height: 160px;
    z-index: -1;
    border-radius: 28px;

    background: rgb(255, 230, 0);
    animation: animate 2s ease-in-out infinite;
}

.contenejs p {
    position: relative;

    top: -150px;
}

.angu {
    position: relative;
    top: -185px;
    left: 89px;
    width: 83px;
    height: 160px;
    z-index: -1;


    background: red;
    animation: animate 2s ease-in-out infinite;
}

.conteneangu p {
    position: relative;

    top: -145px;
}

.msql {
    position: relative;
    top: -166px;
    left: 70px;
    width: 120px;
    height: 148px;
    z-index: -1;
    border-radius: 150px;

    background: rgb(72, 151, 255);
    background: rgb(247, 177, 47);
    animation: animate 2s ease-in-out infinite;
}

.contenemsql p {
    position: relative;

    top: -155px;
}

.git {
    position: relative;
    top: -189px;
    left: 85px;
    width: 90px;
    height: 190px;
    z-index: -1;
    border-radius: 100px;

    background: aliceblue;
    animation: animate 2s ease-in-out infinite;
}

.contenegit p {
    position: relative;

    top: -160px;
}

.boostrap {
    position: relative;
    top: -185px;
    left: 93px;
    width: 74px;
    height: 180px;
    z-index: -1;
    border-radius: 50px;

    background: rgb(174, 0, 255);
    animation: animate 2s ease-in-out infinite;
}

.conteneboos p {
    position: relative;

    top: -165px;
}

/*  efecto agua */

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(1% 73%, 9% 66%, 21% 59%, 33% 56%, 47% 59%, 59% 65%, 68% 70%, 81% 69%, 92% 61%, 99% 51%, 100% 100%, 0 100%);
    }

    50% {
        clip-path: polygon(0 51%, 6% 60%, 14% 68%, 29% 71%, 47% 63%, 57% 54%, 68% 51%, 81% 51%, 94% 58%, 100% 66%, 100% 100%, 0 100%);
    }
}

/* proyectos */

.contieneProyectos {
    width: 100vw;
    height: 140vh;
    /* background: yellowgreen; */

    background-image: radial-gradient(circle, yellowgreen, #0300caad, #00015093, yellowgreen, #020060c2, #020065a9, yellowgreen, #0c016f8e, rgb(13, 9, 78), rgb(13, 9, 78), rgb(13, 9, 78), rgb(13, 9, 78));
}

.tituloProyectos h4 {
    font-size: 3em;
    color: var(--colorLetrasTrabajoEstudy);

}

.cajaProyectos {

    width: 250px;
    height: 200px;
    margin: 35px auto 25px auto;
    transition: all 0.4s;
}

.cajaProyectos img {
    width: 250px;
    height: 200px;

}

.cajaProyectos:hover {


    transform: scale(1.4);


}
























/* respnsive desing */
@media screen and (max-width: 1500px) {



    /* soft skills */
    .skills-soft {
        height: 110vh;

    }


}

@media screen and (max-width: 1200px) {


    /* soft skills */
    .skills-soft {
        height: 100vh;
        padding-top: 20px;
    }

    /* hard skills */
    .skills-hard {
        background: rgba(255, 17, 0, 0.411);

    }

    .html,
    .css,
    .sprin,
    .js,
    .msql,
    .angu,
    .git,
    .boostrap {

        left: 70px;
    }
    .git{
        left: 65px;
    }
    .angu {
        left: 60px;
        width: 90px;
        height: 160px;
        border-radius: 10px;

    }

    .js{

        left: 66px;

    }

    .msql {

        left: 48px;

    }
}


@media screen and (max-width: 1000px) {



    /* soft skills */
    .skills-soft {
        height: 100vh;
        padding-top: 20px;
    }

    .titulo-soft {
        font-size: 2em;
        margin-bottom: 2%;

    }

    /* hard skills */
    .skills-hard {
        background: rgba(0, 255, 242, 0.562);
        height: 100vh;
    }
}

@media screen and (max-width: 991px) {


    /* soft skills */
    .skills-soft {
        height: 150vh;

    }

    .titulo-soft {
        font-size: 2em;
        margin-bottom: 2%;

    }

    /* hard skills */
    .skills-hard {
        background: rgba(0, 255, 13, 0.308);
        height: 210vh;
    }

    .html,
    .css,
    .sprin,
    .js,
    .msql,
    .git,
    .boostrap {

        left: 130px;

    }
    .angu{
        left: 125px;
    }
    .js {

        left: 125px;

    }

    .msql {

        left: 110px;

    }

}
@media screen and (max-width: 768px) {
     /* nav lateral */
     .contenedor-navLateral {
        width: 100vh;
        height: 50px;
        position: relative;
        z-index: 100;
        top: 80px;
    margin: auto;
    }
    .navLateral {
        display: flex;
        flex-direction:row;
    
    }
/* hard skills */
.skills-hard {
    background: rgba(255, 251, 0, 0.397);
    height: 220vh;
}
.html,
.css,
.sprin,
.js,
.msql,
.git,
.boostrap {

    left: 85px;

}
.angu, .js{
    left: 80px;
}

.msql {

    left: 60px;

}

}

@media screen and (max-width: 576px) {

    /* nav lateral */
    .contenedor-navLateral {
     display: none;
    }
    /* soft skills */
    .skills-soft {
        height: 260vh;

    }

    /* hard skills */
    .skills-hard {
        background: rgba(255, 0, 170, 0.377);
        height: 240vh;
    }
    .html,
    .css,
    .sprin,
    .js,
    .msql,
    .git,
    .boostrap {
    
      opacity: 0;
       
    
    }
    .angu, .js{
        opacity: 0;
    }
    
    .msql {
        opacity: 0;
    }

}