:root{
   --colorLetra:#239089;
   --colorDos:#5dc1b9;
} 
.body{
    background-color: #000;
    overflow: hidden;
}
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

#particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index:9999;
     display: flex;
     size: cover;
     /* justify-content: center;
    align-items: center;
    align-content: center; */
  }
   .form{
    width: 90%;
    max-width: 400px; 
    border-radius: 1em;
    padding: 3.5em 1.5em;
    margin: auto;
    position: relative;
    z-index: 10000;
   }
   .form__container{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
   }
   .form__title{
    text-align: center;
    font-size: 2.1rem;
    margin-bottom: .4em;
    color: var(--colorLetra)
   }
   .form__imput{
    font-size: 1rem;
    padding: .8em 1em;
    margin-bottom: .5em;
    border-radius: 10px;
    border: none;
}
.form__imput__message{
    resize: none;
    padding: .8em 1em;
    border-radius: 10px;
}
.form__cta{
    font-family: inherit;
    background-color:  var(--colorLetra);
    color: #fff;
    border: none;
    font-weight: 300;
    padding: .7em 0;
    border-radius: 2em;
    cursor: pointer;
    transition: all .2s ;
}
.form__cta:hover{
    background: #5dc1b9;
}
.nav-link{
    color:var(--colorLetra);
}
.navbar{
    background: rgb(22, 22, 22);
}
h1 {
    color: var(--colorDos);
}

h1 b{
    color: var(--colorLetra);
}
footer{
    position: absolute;
    width: 100%;
    height: 70px;
    background:rgb(22, 22, 22);
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10000;
}
.bx{
    font-size: 2em;
}
.bxl-instagram{

    background:linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border-radius: 10px;
    color: #fff;
}
.bxl-instagram:hover{
    color: #000;
}
.bxl-linkedin-square{
  background: #fff;
    border-radius: 7px;
    color: rgb(8, 16, 121);
}
.bxl-github{
    color: rgb(42, 42, 43);
  font-size: 2.5em;
 border-radius: 50%;
  background-color: #fff;
}