@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600;700&display=swap');

:root {
  --colorFondo: #000031;
  --colorLetrasRosa: #e7113f;
  --azulFlama: #4fc3dc;
  --rosaFlama: #ff2571;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Signika Negative', sans-serif;
  user-select: none;

}

body {
  background: var(--colorFondo);
  min-height: 100vh;
  overflow: hidden;
}



/* pepas de fondo */
.contenedorPepa {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
}

.pepas {
  position: relative;
  display: flex;
  height: 100%;
}

.pepas span {
  position: relative;
  width: 5%;
  height: 5%;
  background: var(--azulFlama);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 10px 20px #4fc2dc1e,
    0 0 10px var(--azulFlama),
    0 0 50px var(--azulFlama);
  animation: animate 15s linear infinite;
  animation-duration: calc(350s/ var(--i));
}

.pepas span:nth-child(even) {
  background: var(--rosaFlama);
  box-shadow: 0 0 10px 20px #ff2d762c,
    0 0 10px var(--rosaFlama),
    0 0 50px var(--rosaFlama);
}

@keyframes animate {
  0% {
    transform: translateY(100vh) scale(0);
  }

  100% {
    transform: translateY(-10vh) scale(1);
  }
}



/*  nav  */
header {
  position: relative;
  z-index: 50;
  height: 100vh;
  width: 310px;
  display: flex;

}


header nav {
  display: flex;
  flex-direction: column;
  gap: 70px;
  margin: 15px;



}

header nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
  list-style: none;
  padding-left: 10%;

}

.titulo {
  position: relative;
  padding-top: 10px;
  font-size: 2.5em;
  color: var(--colorLetrasRosa);

  text-decoration: none;


}

h1 {

  text-shadow: 1px 0px #72022d, 2px 0px #1f1f24;

}

.titulo b {
  letter-spacing: 4%;

}

nav a {
  text-decoration: none;
  width: 320px;
  overflow: hidden;

}




/* imagen de diego  */

.contenedor-foto {
  position: absolute;
  display: flex;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  flex-direction: row-reverse;
}

img {
  position: relative;
  z-index: 50;
  height: 70%;
  margin-right: 1px;
}



/* botones con video */
.boton {
  position: relative;
  width: 140px;
  height: 90px;
  z-index: 1;
  background: #292830;
  color: var(--colorLetrasRosa);
  font-size: 1.3em;
  cursor: pointer;
  border-radius: 25px;
  display: flex;
  text-decoration: none;
  border: 5px solid #1f1f24;
  transition: all .4s;
}

.boton span {
  margin: auto;
  position: relative;
  z-index: 7;
  transition: all .4s;


}

.boton:hover {
  border: 2px solid #1f1f24;
  width: 160px;
  height: 100px;
}

.boton:hover span {
  color: #ffffff;

}

.boton:hover .contenedorVideoS {
  opacity: 1;
  display: block;

}

.contenedorVideoS {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .4s;
  display: none;
}

.videoS {
  position: relative;
  width: 180%;
  height: 180%;
  z-index: 1;
  left: -56px;
  top: -30px;
}

.boton:hover .contenedorVideoH {
  opacity: 1;
  display: block;
}

.videoH {
  position: relative;
  width: 180%;
  height: 180%;
  z-index: 1;
  left: -60px;
  top: -37px;

}

.contenedorVideoH {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .4s;
  display: none;

}

.boton:hover .contenedorVideoC {
  opacity: 1;
  display: block;
}

.contenedorVideoC {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: all .4s;
  display: none;
}

.videoC {
  position: relative;
  width: 180%;
  height: 180%;
  z-index: 1;
  left: -56px;
  top: -30px;
}


/* puzzle  */
.contenedor_puzzle{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10px;

  }



  .puzzle{
    margin: auto 28% auto auto  ;
    height: auto;
    max-height: 480px;
    width: 95vw;
    max-width: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: #970c2a 3px solid;
    border-radius: 10px;

    }

    .puzzle div{
    height: 100%;
    width: 100%;
    overflow: hidden;
    }
    .puzzle img{
      height: 100%;
    width: 100%;
    }












@media screen and (max-width:960px) {
 
 
  header nav ul {
    
    padding-top: 3%;
  
  }
 
  /* nav */
  header {
    width: 100%;
    height: auto;
  }

  header nav {
    gap: 1px;
    width: 100%;
  }

  header nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 0;
  }

  /* imagen  */
  .contenedor-foto {
    display: none;
  }


/* puzzle  */
.contenedor_puzzle{
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 10px;

  }
  .puzzle{
    margin: 0 auto auto auto ;

    }


  /* botones */
  .contenedorVideoS {
    overflow: hidden;
  }

  .contenedorVideoH {
    overflow: hidden;
  }
  .contenedorVideoC {
    overflow: hidden;
  }
  /*pepas  */
  .pepas span {

    height: 1%;
    width: 1%;
  }
  .contenedorVideoH, .contenedorVideoC, .contenedorVideoS {
    opacity: 1;
    display: block;
    opacity: .5;
  }
  .boton span {
    color: #ffffff;
  
  }

}
















